.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 30px;
  font-weight: bold;
  /* color: #0246fc; */
  color: #0068FF;
}
.links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.link{
  font-size: 18px;
}